@inherits LayoutComponentBase

<div class="page">
    <NavMenu/>

    <main>
        <article class="content">
            @Body
        </article>
        <footer class="pageFooter px-4 clearfix">
            <p class="sampleText align-middle">Copyright</p>
            <a class="aboutText align-middle" href="https://learn.microsoft.com/aspnet/core/" target="_blank" >About</a>
        </footer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>