@inherits LayoutComponentBase
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar" hidden="@hidden">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
        <div class="top-row px-4 fixed-bottom">
            <a href="/daily" target="_blank">Debug-Goto Daily</a>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string url = string.Empty;
    private bool hidden { get; set; } = false;

    private void HideNavBarCheck()
    {
        if (url.Equals(NavigationManager.BaseUri) || url.Equals(NavigationManager.BaseUri + "login") || url.Equals(NavigationManager.BaseUri + "register"))
        {
            hidden = true;
        }
        else
        {
            hidden = false;
        }
    }

    protected override void OnInitialized()
    {
        url = NavigationManager.Uri;
        HideNavBarCheck();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            url = NavigationManager.BaseUri;
            HideNavBarCheck();
        }
    }

}