@rendermode InteractiveServer

<div class="modal" id="RegisterationForm" style="display:block">
    <div class="modal-content">
        <div class="modal-header">
            asdf form header
        </div>
        <div class="modal-body">
            <form action="">
                asdf form place
                <button>testt</button>
                <button>test</button>
            </form>
        </div>
    </div>
</div>
@code {
    
}