@page "/addUsage"
@using System.Diagnostics.CodeAnalysis
@using WaterTracker.Model
@using System.Linq
@using ApexCharts
@using WaterTracker.Services
@inject HttpClient Http
@inject WaterTrackingService TrackService
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Record Water Usage</PageTitle>

<div class="container">
    <div class="row h-25">
        <h1>Record Water Usage</h1>
        <p>This component demonstrates showing data.</p>
    </div>
    <div class="row h-50">
        <form action="">
            <div class="form-group">
                <label for="Time">Time</label>
                <input type="email" class="form-control" id="Time" aria-describedby="emailHelp" placeholder="hh:mm" value="@now">
            </div>
            <div class="form-group">
                <label for="waterUsageName">Usage</label>
                <input class="form-control" id="waterUsageName" placeholder="Title(Reason) of water usage">
            </div>
            <div class="form-group">
                <label for="waterUsageName">Usage Category</label>
                <select class="form-select" aria-label="Usage Example">
                    @for(int i=0; i<_amounts.Count; i++)
                    {
                        <option value="@i+1j">@_amounts[i].usageType</option>    
                    }
                    
                    <!-- Get list from wateramount -->
                </select>
            </div>
            <div class="form-group">
                <label for="usedTime">Used Time</label>
                <input class="form-control" id="usedTime" placeholder="Used Seconds">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

@code {

    enum GraphStatus
    {
        Proportion,
        AllUsage
    }
    private string now;
    List<WaterAmount> _amounts;

    protected override async Task OnInitializedAsync()
    {
        //get water usages
        now = DateTime.Now.ToString("HH:mm");
        _amounts = await TrackService.GetAmountListAsync();
    }
    
}