@page "/daily"
@attribute [StreamRendering]

<PageTitle>Your Daily Goal</PageTitle>

<div class="dailyMainContainer container">
    <div class="row">
        <div class="column-sm"></div>
        <div class="column-sm"></div>
        <div class="column-sm"></div>
    </div>
</div>

@code {

}