@page "/login"
@using System.Diagnostics
@using WaterTracker.Controller
@using WaterTracker.Model
@using WaterTracker.Model.DTO

<PageTitle>Login</PageTitle>

<div class="container" id="LoginPage">
    <div class="row h-100">
        <div class="col-sm w-50">
            <div id="background"></div>
        </div>
        <div class="col-sm w-50 d-flex align-items-center justify-content-center">
            <form method="post" @onsubmit="Submit" class="LoginForm">
                <h1 class="text-nowrap bd-highlight">Login</h1>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"@bind="userName">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" @bind="userPwd">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary" href="/daily">Submit</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Launch demo modal
                </button>
            </form>
        </div>    
    </div>
</div>
<ModalDialog/>


@code{
    User user { get; set; }
    private UserController _controller { get; set; }

    string userName;
    string userPwd;
    string passConfirm;
    private void Submit()
    {
        
    }

    
}