@page "/weekly"
@attribute [StreamRendering]

<PageTitle>Your Weekly Goal</PageTitle>

<div class="dailyMainContainer container">
    <div class="column-sm">
        <div class="row">
            <h1 class="title">
                Your Daily Record
            </h1>
        </div>
        <div class="row">
            <div class="graphView">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <!-- Dropdown, Set type, show graph based on this value-->
                    <div class="dropdown-menu" aria-labelledby="Graph Type">
                        <a class="dropdown-item" href="#">Proportion</a>
                        <a class="dropdown-item" href="#">Usage</a>
                    </div>
                </div>
                <div class="graph">
                    <!--Graph, oninitialize get value from database, apply visualize API-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column-sm">
                
            </div>
        </div>
    </div>
</div>

@code {

}